/* Colors for reference:
#461767
#CD95EF
#00AD98
#005B4D
*/

h1 {
  color: #461767;
  font-family: 'Monoton';
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: .5em;
  margin-top: .5em;
  text-align: center;
}

body {
  background: linear-gradient(to bottom, #CD95EF 0%, #00AD98 100%) fixed;
}

.main {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  margin-bottom: 2em;
}

.block {
  border: thick double #461767;
  padding: 2em;
}

.works {
  font-size: 1.5em;
  margin-left: .5em;
  margin-right: .5em;
}

.spamprotection {
  display: none;
}
